<div class="welcome">
	<h1>Hello, heroku!</h1>
	<p>This is the first app I deployed on Heroku!</p>
	<p>Right now is <%= Time.now.asctime %></p>
</div>

<button type="button" class="btn btn-primary link"><%= link_to 'Blog', articles_path %></button>
